{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.54"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        no.cjohansen/replicant {:mvn/version "2025.06.21"}}
 :paths ["src/cljs"]}
